/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

html {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 96.5%;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum";
  line-height: 1.2;
}
/* Header */
.pageHeader {
  font-size: 3.2rem;
  color: #2e8787;
  font-weight: 600;
}
.pageHeaderGrid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-items: center;
  align-items: center;
  gap: 1rem;
}
/* Recipe preview */
.recipePreview {
  width: 100%;
  max-width: 56rem;
  margin: 2rem auto;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.25);
  border-radius: 1.6rem;
  position: relative;
  overflow: hidden;
  color: #535353;
}

.recommendedLabel {
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
  background-color: #f2812e;
  position: absolute;
  top: 1rem;
  left: -1rem;
  z-index: 1;
  padding: 0.2rem 1rem 0.2rem 4rem;
  border-radius: 0.6rem;
}
.recommendedText {
  transform: translateY(-1rem);
}

.coverImage {
  max-height: 16rem;
  overflow: hidden;
}

.coverImage picture,
.coverImage img {
  object-position: center;
  object-fit: fill;
}

.recipeInfo {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.recipeInfo h3 {
  font-size: 2.4rem;
  color: #535353;
  font-weight: 700;
}

.discoverButton {
  color: white;
  background-color: #2e8787;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  border-radius: 1rem;
  width: max-content;
  justify-self: right;
}

.timeLabel {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  gap: 0.5rem;
  color: #a9a9a9;
}

.allTitle {
  font-size: 2rem;
  color: #535353;
  font-weight: 700;
}
.previewGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 32rem));
  grid-auto-rows: max-content;
}

/* Recipe detail */

.recipeTitle {
  color: #535353;
  font-size: 4rem;
  font-weight: 600;
  margin: 2rem auto 0;
  max-width: 64rem;
}
.recipeDetail {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  color: #535353;
}
.recipeCover {
  margin: 2rem auto;
}
.recipeIngredients {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
}
.recipeIngredients h4 {
  font-weight: 600;
  font-size: 1.6rem;
}
.recipeIngredients ul {
  list-style-type: disc;
  font-size: 1.2rem;
}
.recipeSteps {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}
.recipeStep {
  position: relative;
  font-size: 1.4rem;
}
.stepNumber {
  position: absolute;
  left: -2.4rem;
  top: 0;
  font-size: 3rem;
  opacity: 0.15;
  font-weight: 700;
  left: -1rem;
  line-height: 0.8;
  color: #2e8787;
}
.recipeSubtitle {
  font-size: 1.8rem;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .recipeDetail {
    padding: inherit 1rem;
  }
}

/* Footer */

.robinFooter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, max-content));
  gap: 2rem;
  font-size: 1rem;
}
.robinFooter div {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  gap: 1rem;
  & img {
    max-height: 4rem;
  }
}
.itp {
  color: #009;
}
.rvdb {
  color: #2e8787;
}
